{% extends "base.html" %}
{% block title %}Splash{% endblock %}
{% block content %}
    <div class="container">
        <div class="container-fluid mt-5 text-center">
            <h1>Welcome to Matcha</h1>
            <p> the only place to find the partner you have been looking for...</p>
            <form method="get" action="/login">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <form method="get" action="/login">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}